body{
  background-color: #ececec;
  padding: 0;
  margin: 0;
}

.container{
  height: 120px;
  width: 250px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  box-shadow: -7px -7px 15px rgba(255, 255,255, 0.65),7px 7px 15px rgba (70,70, 70, 0,12);
}