body{
  background-color: #ececec;
  padding: 0;
  margin: 0;
}

.container{
  height: 120px;
  width: 250px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  box-shadow: -7px -7px 15px rgba(255,255,255,0.65),
    7px 7px 15px rgba(70,70,70,0.12);
  border-radius: 5px;
  display: flex;
  align-items: center;

}
input[type="checkbox"]{
  position: absolute;
  -webkit-appearance:none;
  height: 80px;
  width: 160px;
  border: 5px solid #ececec;
  box-shadow:
    -7px -7px 15px rgba(255,255,255,0.65),
    7px 7px 15px rgba(70,70,70,0.12),
    inset -7px -7px 15px rgba(255,255,255,0.65),
    inset 7px 7px 15px rgba(70,70,70,0.12)
    ;
  outline: none;
  cursor: pointer;
  left:15px;
  border-radius: 40px;
}
input[type="checkbox"]:before,
input[type="checkbox"]:after{
  content: "";
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}
input[type="checkbox"]:before{
  height: 50px;
  width: 50px;
  background-color: #ececec;
  box-shadow: -7px -7px 15px rgba(255,255,255,0.75),
    7px 7px 15px rgba(70,70,70,0.12);
  border-radius: 50%;
  left: 15px;
}
